.app {
    max-width: 400px;
    padding: 5px;
    width: 100%;
}

.videoBookmarksList,
.otherBookmarksList {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bookmarkList {
    margin-bottom: 5px;
}
